/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 1rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    margin: 0.5rem;
}

h1 {
    text-decoration: underline;
}